{
    "openai_api_key": "...",
    "deepl_key": "...",
    "pg": {
        "host": "localhost",
        "admin_password": "...",
        "password": "...",
        "user": "postgres",
        "db": "postgres"
    }
}
